.form-input {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 10px;
    box-shadow: none;
    outline: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.form-input.border-bottom {
    position: relative;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.form-input.border-bottom~.border-bottom-animation {
    position: absolute;
    content: "";
    width: 0;
    background: rgba(0, 0, 0, .2);
    height: 2px;
    z-index: 99;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


/* Border bottom center */

.form-input.border-bottom~.border-bottom-animation.center {
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.form-input.border-bottom:focus~.border-bottom-animation.center {
    background: #4285F4;
    width: 100%;
}