label {
    margin: 0;
}

.header-box {
    background-color: #4D7AE2;
    padding: 15px 15px;
    margin: 10px 0px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 600;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.20);
}

.principal-section {
    margin: 30px 30px 30px 280px;
}